#Bot Information
BOT_NUMBER="628xxx"
OWNER_NUMBER="628xxx"
PORT=3000

#Database Config
DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=nexure_bot
DB_USER=nexure
DB_PASS=

#Bot Watermark
BOT_NAME="Nexure-MD"

#Social Media
SOC_FACEBOOK="https://www.facebook.com/ammaricano27"
SOC_INSTAGRAM="https://www.instagram.com/ammaricano"
SOC_GITHUB="https://github.com/ammaricanooo"
SOC_WA_GROUP="https://chat.whatsapp.com/I5JCuQnIo4f79JsZAGCvDD"
SOC_WEBSITE="https://ammaricano.my.id"

#Payment Information
PAY_QRIS="https://pic.surf/cme"

#API Service
API_RYZUMI="https://api.ryzumi.net"
API_AMMARICANO="https://api.ammaricano.my.id"
GEMINI_API_KEY=""

#Image Link
RYZUMI_DEFAULT_PP="https://pic.surf/cme"
RYZUMI_BANNER="assets/images/banner_menu.png"
RYZUMI_WELCOME_BANNER="https://telegra.ph/file/666ccbfc3201704454ba5.jpg"
RYZUMI_LEAVE_BANNER="https://telegra.ph/file/0db212539fe8a014017e3.jpg"

#Nexure Message
RYZUMI_MSG_REGISTER="Uwaaa! Kakak manis belum terdaftar nih.. (｡T ω T｡)\n\nYuk, daftar dulu pakai perintah *.daftar* biar kita bisa makin akrab dan main bareng Nexure~! (˶˃ ᵕ ˂˶)"
RYZUMI_MSG_DISABLE="Gomenne kak! (｡>ㅅ<｡) Perintah ini lagi istirahat dulu (dinonaktifkan) sama Nexure.. Tunggu informasi selanjutnya yaa~ (´･ᴗ･ ` )"
RYZUMI_MSG_GROUP="Aduuh gawat! (๑>ᴗ<๑) Fitur ini cuma bisa dipakai bareng teman-teman di dalam grup aja kak~ Yuk, coba di grup yaa! (˶˃ ᵕ ˂˶)"
RYZUMI_MSG_PRIVATE="Ssstt... (´･ᴗ･ ` ) Demi keamanan rahasia kita, fitur ini cuma bisa dipakai lewat Private Chat aja kak~ Chat Nexure langsung yaa! (˶˃ ᵕ ˂˶)"
RYZUMI_MSG_LIMIT="Huhu... (｡T ω T｡) Limit harian kakak sudah habis nih.. Istirahat dulu yaa, atau upgrade ke Premium biar bisa main sepuasnya sama Nexure~! (๑>ᴗ<๑)"
RYZUMI_MSG_COOLDOWN="Sabar yaa kak.. (˶˃ ᵕ ˂˶) Nexure butuh waktu sebentar buat bernapas. Tunggu sekitar *{time}* lagi yaa~ (๑>ᴗ<๑)"
RYZUMI_MSG_OWNER="Maafin aku kak.. (｡T ω T｡) Perintah ini rahasia banget dan cuma bisa dipakai sama Owner kesayangan Nexure aja.. (´･ᴗ･ ` )"
RYZUMI_MSG_MODERATOR="Umm... (´･ᴗ･ ` ) Sepertinya kakak harus jadi Moderator dulu baru bisa pakai perintah ini kak~ (｡>ㅅ<｡)"
RYZUMI_MSG_BOTADMIN="Gomenne! (˶˃ ᵕ ˂˶) Nexure harus jadi Admin di grup ini dulu baru bisa bantu kakak pakai fitur ini.. Mohon bantuannya yaa! (๑>ᴗ<๑)"
RYZUMI_MSG_ADMIN="Aduuh! (๑>ᴗ<๑) Cuma Kakak Admin grup aja yang boleh pakai perintah ini.. Kakak jadi Admin dulu yaa~ (´･ᴗ･ ` )"
RYZUMI_MSG_QUOTED="Kakak manis~ (˶˃ ᵕ ˂˶) Jangan lupa lampirkan atau balas (quote) pesan yang mau kakak proses yaa biar Nexure nggak bingung~! (๑>ᴗ<๑)"
RYZUMI_MSG_PREMIUM="Gomenne kak! (｡T ω T｡) Perintah ini cuma bisa dipakai sama yang udah jadi Premium Member.. Upgrade sekarang yuk~! (๑>ᴗ<๑)"